body {
  font-family: 'Athiti', sans-serif;
  //font-weight: 300;
}
.top_bar {
  width: 100%;
  height:80px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top:0;
  /*border: 2px solid green;*/
}

.uberlogo {
  margin-bottom: 18px;
  padding-top:12px

}



.main_cta {
  text-transform: uppercase;
  font-weight: 600;
  padding: 8px 12px;
  background: #57ad57;

  color:white;
}


.text_section {
  display: flex;
  flex-direction: row;
}


.uber , .burrito {
  font-size: 30px;
}

.burrito {
  color: #57ad57;
  margin-bottom: 20px;
}

.itswrapper {
  margin-top: 20px;
  margin-left: 25px;
  margin-right: 25px;
  height: 280px;;
  border: 2px solid red;
}

.pic_box {
  height: 552px;
  width: 40%;
  /*border: 2px solid blue;*/
  display: none;
  overflow: hidden;
}

.pic_box img {
  height: 100%;
  width: auto;
}

.food {
  line-height: 2;
  font-size: 20px;
  color: #717171;
  font-weight: 400;
}

form, .address {
  display: none;
}

.address{
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 12px;

}

.findFood {
  margin: 20px;
  font-size: 15px;
  width: 90%;
}

.horizontalLine {
  width:40px;
  height:3px;
  background: lightgray;
  margin-bottom: 20px;
}

.center_box {
  /*display: flex;*/
}


.selectionYouWant {
  display: flex;
  flex-direction: column;
  /*flex-wrap: wrap;*/
  /*justify-content: center;*/
  border: 3px solid orange;
  /*height: 600px;*/


}

.centerWrap {
  border: 4px solid blue;
  margin-left: 30px;
  margin-right: 30px;



}


.innerBox {
  /*width: 100%;
  height: 600px;*/
  margin-top:30px;
  /*margin-left: 80px;*/
  /*margin-right: 30px;*/
  border: 2px solid pink;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
  font-size: 25px;
  margin-top: 5px;
}





.content {
  line-height: 1.5;
  color: darkgray;
  margin-right: 60px;
}

.pic_section {
  margin-top: 35px;
}

.craveBottom {
  display: flex;
  flex-direction: column;
  border: 3px solid teal;}

.crave_main {
  margin-top: 30px;
}

}
.craveText {
  color: gray;
  line-height: 1.8;
}

.downloadText {
  margin-bottom: 30px;
}



.downloadButtons {
  flex-direction: row;
  /*display: inline-block;*/
  display:flex;
  justify-content: center;
  margin-bottom: 80px;
}

.text_wrap {
  /*border: 2px solid red;*/
  width: 350px;
  height: 350px;
  margin-left: 30px;
  margin-right: 150px;
  line-height: 1.5;
}

.craveTap {
  font-size: 25px;
}

.downloadText {
  font-weight: bold;
}

.craveTap, .craveText, .downloadText{
  margin-top: 20px;
}

.craveTap {
  margin-top: 50px;
}

.bottom_section {
  background: black;
}

footer {
  color: lightgray;
}

.li2 {
  color: lightgray;
  margin-bottom: 12px;
  font-size: 15px;
}

.line2 {
  width:100%;
  height: 0.5px;
  background: gray;
}

/*.bottom_wraper {
  margin-left: 25px;
  margin-right: 25px;
  border: 4px solid orange;
}*/

.bottom_wraper {
  /*border: 2px solid red;*/
  display: flex;
  flex-direction: column;

}
.logo2 {
  padding:20px;
  /*border: 2px solid blue;*/
}
.li2 {
  /*border: 2px solid green;*/
}
.social {
  display: flex;
  color:white;
  border: 2px solid yellow;
  margin-top: 15px;
  margin-bottom: 15px;
}
.socialinner {
  /*margin-top:20px;*/
  margin-right: 10px;
  /*margin-bottom: 20px;*/

}

.line2, .top {
  margin: 0 auto;
  height: 1px;
}

.hash {
  /*margin-top: 50px;*/
  color: white;
  font-size: 17px;
}

span {
  color: green;
}

/*.menuwrapper {
  height: 250px;
  border: 2px solid pink;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 25px;
  font-size: 13px;
}*/

.navBox {
  border: 3px solid green;
}


.bottom_download_button {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  margin-top: 25px;
}

footer {
  font-size: 11px;
  /*border: 2px solid purple;*/
  padding-bottom: 25px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 30px;
}



.javabox {
  width: 200px;
  height: 200px;
  background: gray;
  margin-bottom: 30px;
  display: none;
}

.placeholder {
  width: 100%;
  height: 80px;
}

@media (min-width:500px) {
  .register {
    margin-right: 35px;
  }
  .top_img {
    display: none;
  }
  .itswrapper {
    width: 60%;
    margin: auto;
    height: 550px;
    border: 2px solid orange;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .insidewrapper {

    width: 45vw;
    height: 80%;

  }

  .pic_box {
    display: inline-block;
  }

 footer {
   flex-direction: row;
 }
  .selectionYouWant {
    height: 600px;
    /*flex-direction: row;*/
    width: 100%;
    margin: 0 auto;
  }

.javabox {
  display: block;
}

.text_section {
  background-color: #F8F8F9;
}
.text_wrap {
  height: 588px;
  border: 2px solid black;
  margin: 0 auto;
  width: 70vw;
  display: flex;
  align-items: center;
}
/*.placeholder {
  height:150px;
  border: 2px solid blue;
}*/
.uber, .burrito {
  font-size: 2.57em;
}

.address {
  display: block;
}
.food {
  margin-top: 40px;
  margin-bottom: 40px;
}
.input_container {
  height: 69px;
  width: 45vw;
  border: 2px solid tan;
  display: flex;
}
input {
  flex: 3;
}
.findFood {
  margin:0;
  flex:1;
}

/*selectionYouWantsection*/
.centerWrap {
  display: flex;
  height: 100%;
}

.innerBox {
  margin-left: 120px;
}

/*cravesection*/
.pic_section {
  height: 447.59px;
  border: 3px solid lightblue;
}

.downloadButtons {
  border: 2px solid red;
  display: flex;
  justify-content: flex-start;
}

.craveTap {
  font-size: 50px;
}

.downloadText {
  margin-top: 30px;
  margin-bottom: 10px;
}

.vertical_center {
  border: 6px solid gray;
}
/*.outerbox {
display: flex;
}*/
.navBox {
  padding-left: 32px;
  margin-bottom: 12px;
  width: 33.3%;
  display: flex;
  flex-direction: column;
}


.bottom_section {
  display: flex;
  justify-content: center;
}
.bottom_wraper {
  display: flex;
  flex-direction: row;
}

.bottom_nav {
  width: 90vw;
  height: 400px;
  border: 2px solid green;
}

.footNote {
  border: 2px solid red;
  width: 33.33%;
  padding-left: 33px;
  margin-right: 200px;

}

}
